<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Error</h2>
    <form action="/">
        <table style="margin-left: auto; margin-right: auto;">
            <tbody>
                <tr>
                <td><h2>Location: {{ error_location }}" is not supported.</h2></td>
                </tr>
                <tr>
                <td><button type="submit">Return home</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>