<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Welcome to the Weather App!</h2>
    <form action="/weather" method="post">
        <table style="margin-left: auto; margin-right: auto; width: 90%;">
            <tbody>
                <tr>
                <td><input name="location" required="" type="text" value="{{ default_location }}" placeholder="Enter location" /></td>
                </tr>
                <tr>
                <td><button type="submit">Get Weather</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>