<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Hello {{ user_name }}!</h1>
    <h2>Welcome to the Weather App!</h2>
    <h3>UTC {{ utc_dt }}</h3>
    <form action="/weather" method="post">
        <input type="text" class="container" name="location" value="{{ default_location }}" placeholder="Enter location" required>
        <button type="submit">Get Weather</button>
    </form>
</body>
</html>