<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <table style="margin-left: auto; margin-right: auto; width: 90%;">
        <tbody>
        <tr>
        <td style="width: 80%;">
        <h4>{{ location }} as of {{ generatedTime }}</h4>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 60%;">
        <h1><strong>{{ currentTemp }}&ordm;</strong></h1>
        </td>
        <td>&nbsp;</td>
        <td><img src="{{ wIcon }}" alt="" width="86" height="86" /></td>
        </tr>
        <tr>
        <td><strong>{{ shortForecast }}</strong>&nbsp;</td>
        <td colspan="2">
        <h4 style="text-align: right;">&nbsp;HC[Rain continuing through 12 pm.]&nbsp;</h4>
        </td>
        </tr>
        <tr>
        <td>&nbsp;H:{{ highTemp }}&ordm;/L:{{ lowTemp }}&ordm;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td colspan="3">
        <h3>{{ forecast }}</h3>
        </td>
        </tr>
        </tbody>
        </table>
        <h1 style="text-align: center;"><a href="/">Back</a></h1>
</body>
</html>